<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/checkIO">
            <div class=" img-dash">
                <img src="/img/logo.jpg" alt="logo_ks">
                <!-- <i class="fas fa-laugh-wink"></i> -->
            </div>
            <!-- <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div> -->
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Danh mục
        </div>


        <!-- Nav Item - Taophieucheckin_out -->
        <li class="nav-item">
            <a class="nav-link" href="/checkIO">
                <i class="fas fa-fw fa-table"></i>
                <span> Phiếu check In - Out</span></a>
        </li>

        <!-- Nav Item - Taobaocaodaohthu -->
        <li class="nav-item">
            <a class="nav-link" href="/createIO">
                <i class="fas fa-fw fa-table"></i>
                <span>Tạo phiếu check In - Out</span></a>
        </li>

        <!-- Nav Item - Danh sách hóa đơn -->
        <li class="nav-item">
            <a class="nav-link" href="/listBill">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách hóa đơn</span></a>
        </li>

        <!-- Nav Item - datphong -->
        <li class="nav-item">
            <a class="nav-link" href="/bookingRoom">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách đặt phòng</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/roommanager/store">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách phòng</span></a>
        </li>

        <!-- Nav Item - datphong -->
        <li class="nav-item">
            <a class="nav-link" href="/serviceTab">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách dịch vụ</span></a>
        </li>

        <!-- Nav Item - datphong -->
        <li class="nav-item">
            <a class="nav-link" href="/promotionTab">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách khuyến mãi</span></a>
        </li>

        <!-- Nav Item - Danh sách phản hồi -->
        <li class="nav-item">
            <a class="nav-link" href="/feedback/store">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách phản hồi</span></a>
        </li>


        <!-- Nav Item - Danh sách nhân viên -->
        <li class="nav-item">
            <a class="nav-link" href="/employee/store">
                <i class="fas fa-fw fa-table"></i>
                <span>Danh sách nhân viên</span></a>
        </li>
    </ul>
    <!-- End of Sidebar -->



    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <form class="form-inline">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>

                </li>

                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">

                </li>

                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Lê Mai Khánh</span>
                        <img class="img-profile rounded-circle" src="/img/ava/kasle.jpg">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        {{!-- <a class="dropdown-item" href="profile.html">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                            Activity Log
                        </a> --}}
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                        {{!-- <div class="dropdown-divider"></div> --}}

                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Main Content -->
        <div id="content">


            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 style="font-size: 30px; text-align: center;" class="m-0 font-weight-bolder text-primary">
                            Chỉnh phiếu Check In - Out</h6>
                    </div>

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <div class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="content">

                                                <form method="POST" action="/checkIO/{{customer._id}}?_method=PUT">
                                                    <!--dong 1-->
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Mã khách hàng</label>
                                                                <input name="sophieucheckin" type="text"
                                                                    class="form-control" disabled
                                                                    value="{{customer._id}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Số hóa đơn</label>
                                                                <input name="sohoadon" type="text" class="form-control"
                                                                    disabled value="{{customer._id}}">
                                                            </div>
                                                        </div>
                                                        {{!-- <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Tình trạng hoá
                                                                    đơn</label>
                                                                <input name="tinhtranghoadon" type="datetime"
                                                                    class="form-control"
                                                                    value="{{customer.tinhtranghoadon}}">
                                                            </div>
                                                        </div> --}}
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Ngày tạo</label>
                                                                <input name="ngaytao" type="datetime"
                                                                    class="form-control" value="{{customer.createdAt}}">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Tên khách hàng</label>
                                                                    <input name="tenkhachhang" class="form-control"
                                                                        valuetype="text" class="form-control"
                                                                        value="{{customer.hovaten}}">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label>Số điện thoại khách hàng</label>
                                                                    <input name="sodienthoaiKH" type="text"
                                                                        class="form-control"
                                                                        value="{{customer.sodienthoai}}">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <!--dong 2-->
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Số phòng</label>
                                                                <input name="sophong" type="text" class="form-control"
                                                                    value="{{customer1.idphong.sophong}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Loại phòng</label>
                                                                <input name="loaiphong" type="text" class="form-control"
                                                                    disabled value="{{customer1.idphong.type}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label>Giá phòng</label>
                                                                <input name="giaphong" type="text" class="form-control"
                                                                    disabled value="{{customer1.idphong.price}}">
                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Ngày nhận phòng</label>
                                                                    <input name="ngaynhanphong" type="date"
                                                                        class="form-control"
                                                                        value="{{customer.ngaynhan}}">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Ngày trả phòng</label>
                                                                    <input name="ngaytraphong" type="date"
                                                                        class="form-control"
                                                                        value="{{customer.ngaytra}}">
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>

                                                    <button type="submit" class="btn btn-info btn-fill">CHỈNH SỬA
                                                        PHIẾU</button>
                                                    <div class="clearfix"></div>
                                                    <br>

                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End of Main Content -->